{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome {{request.user|capfirst}}</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
   <form action="" method="POST" novalidate>
      {% csrf_token %}
       {%if form %}
       {% for fm in form %}
     <div class="mb-3">
       <label for="exampleInputPassword1" class="form-label">{{fm.label}}</label>
        {{fm}}
        <small class="text-danger">{{fm.errors|striptags}}</small>
     </div>
       {% endfor %}
     {% endif %}
     <button type="submit" class="btn btn-primary">Submit</button>
     {% if form.non_field_error %}
        {% for err in form.non_field_error %}
          <small class="alert alert-danger">{{err}}</small>
        {% endfor %}
     {% endif %}
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}