{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome {{request.user|capfirst}}</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Reset Password</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
      <h1>Well done! </h1>
      <p>password reset done! an email has sent you check that please to go further</p>
  </div>
 </div>
</div>
{% endblock main-content %}